body, html {
    height: 100%;
  }
  .bg {
    background-image: url(../img/paintbrush.jpg);
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

  }

